# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\development\back-end-final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
